<!-- splash.page.html -->
<ion-content class="ion-padding" color="light">
  <div style="height: 100%; display: flex; flex-direction: column; justify-content: space-between; background-color: #f2f2f2;">
    <div style="margin-top: 50px; text-align: center;">
      <h1 style="font-size: 80px; margin: 0; font-weight: bold;">P</h1>
      <h2 style="margin: 0;">Projeto</h2>
    </div>

    <div style="background-color: #3a2f2f; color: white; padding: 20px;">
      <p style="font-size: 14px;">MARCOS PAULO<br>ALEX DE SOUZA SILVA</p>
    </div>
  </div>
</ion-content>
